@import 'font';
@import 'background';
@import 'components/login';
@import 'components/gallery';

.page__nav {
  .nav {
    height: 140px;
    width: 100%;
    background: #f4f5f0;
    &__logo {
      align-items: center;
      display: flex;
      flex: 0 0 150px;
      justify-content: space-evenly;
      img {
        width: 50px;
      }
    }
    &__items {
      align-items: center;
      display: flex;
      flex: 1 1 auto;
      justify-content: flex-end;
    }
    &__menu {
      &.-list {
        display: flex;
        list-style: none;
        justify-content: flex-end;
      }
      &.-item {
        margin-left: 30px;
        a {
          color: black;
          text-decoration: none;
          &:hover {
            color: #575757;
          }
        }
      }
    }

  }
}

.page__wrapper {
  padding: 0 20px;
  .hero-img {
    height: 400px;
    overflow: hidden;
    width: calc(100% + 40px);
    margin-left: -20px;
    margin-right: -20px;
    &__item {
      width: 100%;
      height: 400px;
      object-fit: cover;
    }
  }
  .section {
    padding: 60px 0;
    &__title {
      font-size: 28px;
      line-height: 48px;
      margin-bottom: 30px;
      text-align: center;
    }
    &__body {
      font-size: 20px;
      line-height: 28px;
    }
    &__form {
      margin-bottom: 60px;
    }
  }
  .masonry {
    width: 100%;
    &-item {
      width: 33%;
      padding: 10px;
      img {
        width: 100%;
      }
    }
    &-sizer {
      width: 33%;
    }
    @media (max-width: 768px) {
      &-item, &-sizer {
        width: 50%;
      }
    }
  }
  .btn-custom {
    background: #575757;
    color: white;
    width: 130px;
    height: 35px;
    font-size: 16px;
    text-transform: uppercase;
  }
}

.form-control {
  input {
    border: none;
  }
}

.form-group {
  label {
    font-size: 14px;
    color: #808080;
  }
}

.summernote {
  height: 0 !important;
  visibility: hidden;
  position: absolute;
  top: -99999px;
}

.sticky {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
}

.images {
  &-container {
    width: 100%;
    img {
      width: 100%;
    }
    p {
      border: 1px solid #8e8e8e;
      padding: 10px;
      font-size: 10px;
      overflow-wrap: break-word;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
    }
  }
}