.gallery {
  &-img {
    width: 33.33%;
    height: 300px;
    overflow: hidden;
    img {
      height: 300px;
      width: 100%;
      object-fit: cover;
    }
    &__more {
      height: 300px;
      width: 100%;
      text-align: center;
      vertical-align: middle;
      font-size: 28px;
      background: #8e9eab;  /* fallback for old browsers */
      background: -webkit-linear-gradient(to right, #eef2f3, #8e9eab);  /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(to right, #eef2f3, #8e9eab); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
      padding: 25%;
      color: white;
      cursor: pointer;
    }
  }
}