.form-material {
  margin-bottom: 12px;
  label {
    width: 100%;
    font-size: 12px;
  }
  input {
    border: none;
    border-bottom: 1px solid rgb(146, 146, 146); 
    caret-color: rgb(68, 68, 68);
    cursor: text;
    width: 100%;
    &:focus {
      border-color: #f8b15a;
      -webkit-box-shadow: 0 0.0625em 0 0 #f8b15a;
      box-shadow: 0 0.0625em 0 0 #f8b15a;
      outline:  none;
    }
  }
  button {
    padding: 20px 20px 10px;
    font-family: "Gotham Book";
    font-weight: bold;
    border: none;
    border-radius: 5px;
    background: linear-gradient(30deg,#ffc986,#f8b15a); 
    box-shadow: 0 3px 10px #e6e6e6;
    color: white;
    &:hover {
      background: linear-gradient(90deg,#ffc986,#f8b15a);
    }
  }

}
.login {
  &-block {
    margin: 40px auto;
    width: 100%;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 3px 15px #e2e2e2;
    padding: 60px;
    &__title {
      font-family: 'Gotham Bold';
      font-size: 32px;
      text-align: center;
    }
    &__subtitle {
      font-family: 'Gotham Book';
      font-size: 18px;
      text-align: center;
      margin-bottom: 60px;
    }
  }
  @media (max-width: 768px) {
    &-block {
      box-shadow: none;
    }
  }
  @media (min-width: 769px) and (max-width: 992px) {
    &-block {
      width: 600px;
    }

  }
  @media (min-width: 993px) and (max-width: 1200px) {
    &-block {
      width: 600px;
    }
  }
  @media (min-width: 1201px) {
    &-block {
      width: 600px;
    }
  }
}